* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 80vh;
}


body {
  background-image: url("/src/assets/MicrosoftTeams-image.png");
  background-size: cover;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}


.logo {
height: 250px;
padding-top: 1rem;
}


.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
 justify-self: center;
} 

/* ----------content--------- */
.content {
  border: solid 1px ;
  max-height: 700px;
  width: 48%;
  background-color: #ffffffba;
  padding: 1rem 2rem;
  border: rgba(60, 30, 106, 0.93) 2px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 60px rgba(60, 30, 106, 0.648);

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

/* --------rooms (ul-elementet)-------- */
 .rooms {
  display: flex;
  gap: 1rem;
} 

/* ----- skapa nytt rum (input + btn) ----------*/
 .room-options {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: .5rem;
  width: 85%;

}

.new-room-input {
  background-color: rgba(255, 255, 255, 0.869);
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: .3rem;
} 

.new-room-input:focus{
  background-color: rgb(255, 255, 255);
  border: black;
}

 .join-button {
  height: 30px;
  width: 140px;
  background-color: #b168ffb5;
  border: none; 
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.5s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.join-button:hover {
  background-color: #ca9bfb;
} 

/* ---------- rumslistan ---------- */

/* room-title */
 .roomTitle {
  font-size: 20px;
  margin-top: 68px;
} 

 .roomItem {
  margin-top: .4rem;
  background-color: rgba(255, 255, 255, 0.63);
  cursor: pointer;
  transition: background-color 0.3s;
  padding: .5rem 0 .5rem 1rem;
  border-radius: 7px;
}

.roomNames{
  list-style: none;
  font-size: 14px;
}

.roomList{
  width: 200px;
  min-height: 350px;
  max-height: 400px;
  overflow-y: auto;
}

.roomItem:hover {
  background-color: #ffffff;
} 
/*------- user-item--------- */
 .userItem {
  margin: 5px 0;
  font-size: 13px;
  color: #555555;
}

.roomTitle{
  font-size: 20px;
  font-weight: 600;
}

/* @media (max-height: 890px) {
  .content {
  border: solid 1px ;
  max-height: 500px;
  width: 40%;
  background-color: #ffffffba;
  padding: 1rem 2rem;
  border: rgba(60, 30, 106, 0.93) 2px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 60px rgba(60, 30, 106, 0.648);
  }

  .chatWindow{
    background-color: rgba(255, 255, 255, 0.648);
    width: auto;
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem 0rem .5rem 0rem;
  }

  .header {
    font-size: 10px;
    margin-bottom: .5rem;
  }

  .roomTitle{
    font-size: 17px;
    font-weight: 600;
  }
  .roomList{
    width: 200px;
  }

  .logo{
    height: 160px;
  }



  .userItem {
    margin: 5px 0;
    font-size: 10px;
    color: #555555;
  }

  .roomNames{
    list-style: none;
    font-size: 12px;
  }


} */

@media (max-width: 1490px ) {
  .content {
  border: solid 1px ;
  max-height: 500px;
  width: 45%;
  background-color: #ffffffba;
  padding: 1rem 2rem;
  border: rgba(60, 30, 106, 0.93) 2px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 60px rgba(60, 30, 106, 0.648);
  }

  .chatWindow{
    background-color: rgba(255, 255, 255, 0.648);
    width: auto;
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem 0rem .5rem 0rem;
  }

  .header {
    font-size: 10px;
    margin-bottom: .5rem;
  }

  .roomTitle{
    font-size: 17px;
    font-weight: 600;
  }
  .roomList{
    width: 200px;
  }

  .logo{
    height: 200px;
  }

  .chatWindow-container {
    width: 100%;
  }

  .userItem {
    margin: 5px 0;
    font-size: 10px;
    color: #555555;
  }

  .roomNames{
    list-style: none;
    font-size: 12px;
  }


}