* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family: "Montserrat", sans-serif;
} 

.header {
  font-size: 14px;
  margin-bottom: .5rem;
}


.chatWindow{
  background-color: rgba(255, 255, 255, 0.648);
  width: auto;
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 1rem;
  margin: .5rem 0rem .5rem 0rem;
  
}

.chatWindow-container {
  width: 600px;
}


.writeMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
} 

.writeMessage input {
  background-color: rgba(255, 255, 255, 0.869);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  padding-left: .3rem;
}

.writeMessage input:focus{
  background-color: rgb(255, 255, 255);
  border: black;
}

.writeMessage button {
  background-color: #b168ffbd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 30px;
  width: 140px;

}

.writeMessage button:hover {
  background-color: #ca9bfb;
}

ul {
  list-style-type: none;
}

.leave-room-btn {
  background-color: #b168ffbd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 25px;
  width: 110px;
}

.leave-room-btn:hover {
  background-color: #ca9bfb;
}

.disabledBtn {
  background-color: #b7b5b5c2;
  color: #dcd9d989;
  border-radius: 6px;
  border: none;
  transition: background-color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 25px;
  width: 110px;
  font-style: italic;
}

.sentMessage {
  background-color: #adaeff70;
  display: inline-block;
  border: 1px solid #adaeff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.receivedMessage {
  background-color: #a3a3a365;
  display: inline-block;
  border: 1px solid #a3a3a3;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.chatUl li img {
  max-width: 100%; 
  height: auto;
}
